/* Global Layout Set-up */
* {
  box-sizing: border-box;
	}

body {
  margin: 0;
  padding:0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #474446;
  background-color: #ddc1d3;
  }

/* Link Styles */

a {
    text-decoration: none;
    color: #ad399a;
      }

a:hover {
  color: #353335;
  }


/* Section Styles */

.main-nav,
.introduction,
.card,
h2
 {
  display: block;
  text-align: center;
}

.card {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-family: 'Spirax', cursive;
  text-shadow: 2px 2px 8px #222;
  color: #ad399a;

}

.nav {
  background-color: lightgrey;
  border: solid black;
  margin: 50px;
  }

ul {
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

li {
    text-align: center;
    padding: 20px 50px;
    }

.introduction {
  display: block;
  overflow: hidden;
  }

.profile-image {
    width: 400px;
  }

.bio {
  font-size: 26px;
  }

.portfolio {
text-align: center;
font-size: 18px;
}

.page-icon {
  width: 350px;
}

.page-title {
  text-align: center;
  font-size: 18px;
}

.page-description {
  text-align: center;
  font-size: 16px;
}

.skills {
  border-radius: 6px;
  display: inline-block;
  background: #62526b;
  color: white;
}

h3 {
text-decoration-line: underline;
text-align: center;
padding-top: 15px;
}

.contact {
text-align: center;
font-size: 20px;
margin-left: auto;
margin-right:auto;

}

.contact-info,
.contact-data {
  text-align: center;
  color: black;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: black;
}

footer {
  text-align: center;
  display: table;
  content: "";
  clear: both;
  width: 100%;

}

.bottom-name {
  font-size: 24px;
  text-align: center;
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  float: left;
  }

.bottom-nav a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  }

.footer-nav {
  float: right;
}

.footer-nav li {
  display: none;
}

.footer-nav li:first-child{
  display: inline;
}


/* Styles for larger screens */

@media (min-width: 768px) {

body {
  width: 90%;
  margin: 0 auto;
}

.nav {
  margin-right: 45px;
  margin-bottom: 25px;
  margin-left: 45px;
    }

.nav li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    }

.card {
  float: left;
  width: 50%;
  padding-right: 10px;
    }

.page-icon {
  padding: 15px;
}

.page-description {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.card p:last-of-type{
  height: 150px;
}

.footer-nav li {
  display: inline;
}

.footer-nav li:first-child {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  }
}


@media (min-width: 1024px) {

body {
  width: 80%;
}

.name {
  float: left;
  text-align: left;
    }

.main-header {
  margin-bottom: 15px;
}

.nav {
  float: right;
  margin: 0;
      }

.introduction {
  display: inline-block;
  text-align: left;
}

.page-description {
  text-align: left;
}

.bio {
  float: left;
  max-width: 50%;
  margin-top: 0;
    }

.profile-image {
  float: right;
}

.card {
  float: left;
  width: 33%;
  padding-right: 10px;
    }


.page-icon {
  padding: 15px 0;
  width: 100%;
}
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
    }
  }
